---
# front matter
---
@charset "utf-8";

// base variables
$base-font-family: {{ site.data.theme.base-font-family | default: '""' }};
$base-font-size: {{ site.data.theme.base-font-size | default: '""' }};
$text-color: {{ site.data.theme.text-color | default: '""' }};
$link-color: {{ site.data.theme.link-color | default: '""' }};

// Width of the content area
$content-width:    1800px;
$on-palm:          576px;
$on-laptop:        768px;
$on-desktop:       992px;
$on-jumbo:        1200px;
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/* buttons to theme */
{% assign btns = site.data.config-theme-colors | where_exp: "item","item.color != nil" %} 
{% for btn in btns %}
${{ btn.color_class }}: {{ btn.color }};
{% endfor %}
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    {% for btn in btns %}
    "{{ btn.color_class }}": ${{ btn.color_class }}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ),
  $theme-colors
);

@import "base", "theme-colors", "pages", "custom";


// Change nav colors in footer

/* not active */
.nav-pills .cpp .nav-link:not(.active) {
    background-color: rgba(52, 58, 64, 1);
    color: #fff;
}


/* active (faded) */
.nav-pills .cpp .nav-link {
    background-color: rgba(255, 255, 255, 1);
    color: #343a40;
}

// Change link color for contrast

a {
    color: #0000cc;
}

// Change link color for contrast in page navigation

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.page-link {
    color: #0000cc;
    background-color: #fff;
    border: 1px solid #dee2e6;
}